<ul class="unstyled">
  <% @quote_lines.each do |key, value| %>
    <li><%= t(key) %>: <%= number_to_currency(value) %></li>
  <% end %>
  <li>IVTM : <%= number_to_currency(@ivtm) %></li>
  <li>IVA : <%= number_to_currency(@vat_tax) %></li>
</ul>