<%= provide :title, t("new_quote_for", state: "#{@state.name}") %>

<%= render 'layouts/status_progress', s1: 1, s2: 4, step_text: "step_1_minitext", w:"6.25", w2:"18.75", substep: 1, subtext: "substep_1" %>

<h2><%= t("Enter the data for your vehicle") %></h2>

<%= render 'form' %>