<%= provide :title, t("new_quote_for", state: "#{@state.name}") %>

<%= render 'layouts/status_progress', s1: 1, s2: 4, w:"25" %>

<h2><%= t("Enter the data for your vehicle") %></h2>

<%= render 'form' %>