<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p><%= t("email.admin_status_changed.body", id: @order.id) %>:</p>
    <p><%= t("email.admin_status_changed.new_status", status: @order.status.name) %></p>
    <p><%= link_to t("email.admin_status_changed.link"), orders_url %></p>
  </body>
</html>