<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p><%= t("email.welcome.greeting", user: @user.name) %>:</p>
    <p><%= t("email.welcome.order_created", amount: @order.quote.amount) %></p>
    <p><%= link_to t("email.welcome.link", link: @url), @url %></p>
    <p><%= t("email.welcome.thanks") %></p>
  </body>
</html>