<div class="row">
  <div class="span8">
    <% if @user.orders.any? %>
    <p>You have <%= @user.orders.count %> orders</p>
    <ol class="orders">
      <%= render @orders %>
    </ol>
    <%= will_paginate @orders %>
    <% end %>
  </div>
</div>
