<div class="row">
  <div class="span8">
    <% if @user.orders.any? %>
    <p><%= t("You have these orders", orders: @user.orders.count) %></p>
    <ol class="orders">
      <%= render @orders %>
    </ol>
    <%= will_paginate @orders %>
    <% end %>
  </div>
</div>
