<% provide :title, t('New User') %>

<h1><%= t('Create new User') %></h1>

<%= render 'form' %>


<div class="center">
<p><%= t('Already an account?') %> <%= link_to t("Sign in here!"), signin_path %></p>
</div>