<div class="">
	<div class="">
		<%= simple_form_for(@state, url: "/#{I18n.locale}/states/checking", html: {class: 'form-inline'}) do |f| %>
		
			<%= f.select :name, @states %>
			<%= f.button :submit, t(:check), class: 'btn-primary' %>
		
		<% end %>
	</div>
</div>