<% provide :title, "Welcome" %>

<div class="center hero-unit">
  <h1><%= t :welcome %></h1>
  <h2><%= t :check_availability %></h2>
  <%= render 'form_state_check' %>
  
  <div class="row">
  <div class="span6 offset2">
  	  <ol><strong>5 fáciles pasos para conseguir su vehículo matriculado:</strong>
  	  <li>Ahorre gestionando el IVTM a través de Matricula El Coche</li>
  	  <li>Deposite una fotocopia de su DNI junto con la autorización firmada que encontrará al final del proceso en el Concesionario donde compra su coche</li>
  	  <li>Indique en su pedido que ya ha depositado la documentación</li>
  	  <li>En unos pocos días le comunicaremos su número de matrícula y podrá imprimir el justificante temporal de matriculación</li>
  	  <li>Un día después recibirá en la dirección que nos haya indicado la documentación original de matriculación</li>
  	  </ol>
  </div>
  </div>
  <p>¡Ahorre con Matricula El Coche!</p>
  
</div>