<% provide :title, t("New Order") %>

<%= render 'layouts/status_progress', s1: 1, s2: 4, step_text: "step_1_minitext", w:"18.75", w2:"6.25", substep: 3, subtext: "substep_3" %>

<h2><%= t("Enter the data for your Order") %></h2>

<%= render 'form' %>