.da-slide h2 {
    line-height: 66px;
}
.da-slide p {
    color: #AAAAAA;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    top: 355px;
}
.da-slide form {
    left: 10%;
    position: absolute;
    top: 85%;
}