<div id="footer-menu">
  <div class="container">
    <div class="row">
      <div class="span2">
        <small><%= link_to "Sinapse", 'http://www.sinapse.es' %>, handmade with care</small>
      </div>
      <div class="span3 offset7">
        <div id="footer-menu-links">
          <ul id="footer-nav">
            <li><%= link_to t("About us"),   '#' %></li>
                <li><%= link_to t("Contact"), '#' %></li>
                <li><%= link_to t("Legal notice"), '#' %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>