<% current_page?('/') ? thisloc = "#{I18n.locale}/" : thisloc = "" %>

<div id="footer-menu">
  <div class="container">
    <div class="row">
      <div class="span2">
        <div id="footer-menu-logo">
          <%= link_to "Matricula<span>elcoche</span>.com".html_safe, root_path, class: "brand", alt: "Matricula El Coche.com", title: "Matricula El Coche.com" %> 
        </div>
      </div>
      <div class="span10">
        <div id="footer-menu-links">
          <ul id="footer-nav">
            <li><%= link_to t("About us"),   "#{thisloc}about_us" %></li>
                <li><%= link_to t("Contact"), "#{thisloc}contact" %></li>
                <li><%= link_to t("Legal notice"), "#{thisloc}legal_notice" %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>