<div id="page-title">

	<div id="page-title-inner">

		<!-- start: Container -->
		<div class="container">

			<h1><i class="ico-car"></i><%= yield(:title) %></h1>

		</div>
		<!-- end: Container  -->

	</div>	

</div>